{% extends "base.html" %}

{% block body %}

<section>
  <article class="player">
    <h2>Recording</h2>
    <audio data-podlove-web-player-source="inject/13-2.html">
      <source src="/static/recordings/13-2.mp3'" type="audio/mp3">
    </audio>
    
    <h2 id="textheader">Dictated texts</h2>
    
    <iframe id="textframe" src="/viewer.html?file=/static/pdf/13-2.pdf" width="500" height="800"></iframe>
    
  </article>
  
</section>


<script>$('audio').podlovewebplayer();</script>

{% endblock %}