backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
boto==2.38.0
Cactus==3.3.2
certifi==2015.11.20.1
colorama==0.3.6
colorlog==2.6.0
Django==1.6.11
django-markwhat==1.5
Jinja2==2.8
keyring==7.3
markdown2==2.3.0
MarkupSafe==0.23
singledispatch==3.4.0.3
six==1.10.0
tornado==4.3
