/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* $blue: #1A4666; */
/* $blue2: #0E116C; */
/* $sand: #EFE8CB; */
/* $red: #9F0016; */
/* $backBlue: #E0E4EF; */
html, body {
  height: 100%;
  box-sizing: border-box; }

body {
  background: #ffffff;
  font-family: "Open Sans", "Helvetica", sans-serif;
  line-height: 1.2;
  padding: 2%; }

h1 {
  color: #1A4666;
  border-bottom: 1px solid #F2D492;
  font-size: 1.6em;
  line-height: 1.6;
  padding-top: 0.4em; }

h2 {
  color: #1A4666;
  border-bottom: 1px solid #F2D492;
  font-size: 1.4em;
  line-height: 1.4;
  padding-top: 0.3em; }

h3 {
  color: #1A4666;
  border-bottom: 1px solid #F2D492;
  font-size: 1.3em;
  line-height: 1.3;
  padding-top: 0.3em; }

h4 {
  font-size: 1.2em;
  line-height: 1.2;
  padding-top: 0.3em; }

h2#textheader {
  margin-top: 20px;
  cursor: pointer; }

i {
  font-style: italic; }

a,
a:visited {
  color: #1A4666;
  border-bottom: 1px solid #F2D492; }

a:hover {
  background: #F2D492; }

#textframe-wrapper {
  display: none; }

#textframe {
  width: 100%; }

#footbar {
  width: 30%;
  padding-top: 2em;
  border-bottom: 1px solid #F2D492;
  height: 1px; }

a {
  text-decoration: none; }

p {
  padding: 0.4em 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

sup {
  vertical-align: super;
  font-size: smaller; }

ol {
  padding: 0.6em 0 0 1.2em;
  list-style-type: arabic; }

#footnotediv {
  background: #fff;
  padding: 1.2em;
  border: 1px solid #1A4666; }

/* Structure */
#container {
  width: 85%;
  max-width: 960px;
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  position: relative; }

#sections {
  width: 71%;
  float: left;
  height: 100%;
  padding-left: 4%; }

#content {
  padding: 2rem 0 75px 0;
  height: 100%;
  position: relative;
  overflow: hidden; }
  #content p {
    text-align: justify; }
  #content h1, #content h2 {
    margin: 16px 0 8px 0; }
  #content h3, #content h4 {
    margin: 12px 0 8px 0; }
  #content p:first-child,
  #content h1:first-child,
  #content h2:first-child,
  #content h3:first-child,
  #content h4:first-child {
    padding-top: 0;
    margin-top: 0; }
  #content table.song-index {
    border-collapse: collapse; }
    #content table.song-index th, #content table.song-index tr, #content table.song-index td {
      text-align: left;
      border: 1px solid #1A4666;
      padding: 5px; }
    #content table.song-index tr.even {
      background-color: lightgray; }
    #content table.song-index th {
      background-color: #1A4666;
      color: white; }
    #content table.song-index a,
    #content table.song-index a:visited {
      border: 0px; }

.clear {
  clear: both; }

/* Header */
header.top {
  background: #1A4666;
  padding: 24px 4%; }
  header.top h1 {
    color: #F2D492;
    font-size: 2.2em;
    padding: 0; }
  header.top h2 {
    color: #F2D492;
    border: none; }

/* Footer */
footer.mainpage {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #F2D492; }
  footer.mainpage p {
    padding: 2%;
    color: #1A4666;
    font-size: 11px; }
  footer.mainpage #footer-rule {
    border-top: 2px solid #1A4666;
    heigth: 2px; }

/* Navigation */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

nav {
  position: relative;
  display: block;
  float: left;
  width: 25%; }
  nav .active {
    background: #F2D492; }
  nav a, nav a:visited {
    display: block;
    width: 100%;
    padding: .7em 0;
    text-decoration: none;
    color: #2C3E50;
    padding-left: 0.6em;
    border-bottom: 1px solid #1A4666; }
  nav a:hover {
    background: #1A4666;
    color: #fff;
    border-bottom: 1px solid #F2D492; }
  nav .nav-child a, nav .nav-child a:visited {
    border: none; }
  nav ul {
    overflow: hidden; }

ul.nav-child {
  display: none; }

ul.visible {
  display: block; }

ul.nav-child .active {
  display: block; }

nav ul.visible {
  display: block; }

nav ul.level-one ul.nav-child a {
  padding-left: 1.5em;
  font-size: 90%; }

/*# sourceMappingURL=home.css.map */
