{% extends "base.html" %}

{% block body %}

<article>
  <p>
    <img align="right" style="padding-left:10px;" width="50%" src="/static/images/mirash.jpg" />
    In February 1974 the Albanian epic singer Mirash Ndou spent a week in the
    Albturist hotel in Shkodra performing the most important parts of his
    repertoire for the tape-recorder. The present resource contains his songs
    both sung and dictated, as well as his own comments on his art.
  </p>

  <p>
    To read more about the theoretical context and background of the
    documentation of this oral tradition, as well as a description of the art of
    the singer, see the <a href="introduction.html">introduction</a>.
  </p>
  <p>
    To find the sung or dictated song of a given recording session, or their
    written texts, select the recording-tab in the menu on the left, or navigate
    to a specific song in the <a href="song-index.html">song index</a>.
  </p>
</article>

{% endblock %}
