{% extends "base.html" %}

{% block body %}

<article>
  
  <p>
    In February 1974 the Albanian epic singer Mirash Ndou spent a
    week in the Albturist hotel in Shkodra performing the most
    important parts of his repertoire to the tape-recorder. The
    present resource contains his songs both sung and dictated, as
    well as his own comments on his art.
  </p>
  
  <p>
    To read more about the theoretical context and background of the
    documentation of this oral tradition, as well as a description
    of the art of the singer, see <a href="about">the
      introduction</a>.
  </p>
  <p>
    To find the recording and dictated texts of songs of a given
    recording session, navigate to the relevant session in the
    ‘Recordings’-tab, or navigate to a specific song on the ‘Indexed
    songs’-tab on the left.
  </p>    
</article>

{% endblock %}
