{% extends "base.html" %}

{% block body %}

<article>

  <h1>Introduction</h1>
  <p>
    Mirash Ndou (1906-76) was an Albanian “singer of tales”, well known
    mainly as an interpreter of legendary heroic songs, accompanied by
    the <i>lahuta</i> (a single-stringed bowed instrument). He had also
    other genres in his repertoire, so-called historical songs
    celebrating heroic deeds from the 19<sup>th</sup>-20<sup>th</sup>
    centuries, and lyrical songs; besides, he was a great
    storyteller. He was illiterate, having been just exactly too old
    when in 1948 the socialist authorities decided that all citizens
    below 40 years of age should be taught to read and write. In his
    professional life he was a mason. When I met him in 1974 he was in
    pension.
  </p>
  <p>
    Under a cultural agreement between Albania and Denmark I had
    received a state scholarship for the months of January and February
    to study Albanian epic. My background was that of a Homerist
    following in the footsteps of Milman Parry and Albert
    B. Lord.<sup id="fnref1"><a rel="footnote" href="#fn1">1</a></sup> The
    Albanian epic tradition is closely related to the Serbocroatian
    songs they studied; many of their informants were actually ethnic
    Albanian, and their collection contains a wealth of songs in that
    language. Accordingly it seemed very attractive to get a personal
    experience of this tradition.
  </p>

  <p>
    During the last week of my stay it was arranged that I could
    attend and record live epic performance in
    Shkodra.<sup id="fnref2"><a rel="footnote" href="#fn2">2</a></sup> The
    dialectologist Gjovalin Shkurtaj accompanied me as helper and
    interpreter (to Italian), and the folklorist Qemal Haxhihasani
    in Tirana had provided us with a list of singers’ names. A room
    was reserved for the project at the Albturist Hotel, and
    Gjovalin succeeded in making agreements with three singers to
    come there: Kol Leka, Tom Marashi, and Mirash Ndou. Gjovalin and
    I soon decided to concentrate our attention on Mirash, and
    10.2.-16.2. he performed for us, many hours per day with only
    one afternoon off. He gave us 17 <i>këngë kreshnikësh</i>,
    fifteen of them sung, two told in prose. Before my departure
    they were copied for the archives of the folklore institute in
    Tirana. In the meantime the internet has been invented, offering
    new possibilities of giving public access to Mirash’s
    achievement.<sup id="fnref3"><a rel="footnote" href="#fn3">3</a></sup>
  </p>

  <p>
    As indicated, the registered performance was induced, not
    natural. Actually, Mirash had for many years only performed his
    songs when folklorists wanted to collect them. To begin with he
    could not see the point of this new registration of his epics
    since he “had already written them all in Tirana”, as he
    said. Nevertheless he was willing to cooperate, and during the
    week that followed he gradually warmed to the task. Again and
    again in the files he asks, “What now?” and is eager to
    continue, and one afternoon (the 11<sup>th</sup>) when Gjovalin and I were
    planning to stop for the day, he wanted to sing still another
    song so as not to disappoint “the lady”. Since the melody of the
    songs is monotonous, Albanian folklorists usually recorded only
    the beginning and end of performances and concentrated on
    writing the texts from dictation. Perhaps Mirash liked that this
    time he was asked to sing the full texts.
  </p>

  <p>
    When Gjovalin translated he called me <i>zoja</i> (the lady,
    mrs.), “<i>zoja</i> asks this or that”. The fourth day Mirash
    asked what I was called, and I was ashamed not to have presented
    myself.
  </p>

  <p>
    Like Parry and Lord I wanted to collect not only the songs, but
    also the singers’ opinions of their art and the tradition they
    represented. Therefore I had the microphone open during all
    sessions. For a start I closed it during dictation, but soon
    changed my mind. Accordingly, beginning from song II the sound
    track includes the dictations. Even so, now looking back I wish
    I had registered also the breaks and the small talk, since much
    of what Mirash said in such connections revealed his views upon
    the world in general and his songs in particular.
  </p>

  <p>
    Similarly, even though the legendary songs were what I came for,
    I was interested also in what other genres singers had in their
    repertoire, and in general in everything to do with the social
    setting of the tradition.
  </p>

  <p>
    I had hoped to study how fluid or stable songs were by attending
    various singers performing for various listeners. As it turned
    out, that was impossible for very many reasons of which the most
    important was that singers no longer entertained natural
    audiences. What had been the most important setting for these
    songs, the winter nights in the <i>kulla</i> (the home of the
    extended family) high up in the mountains isolated by snow for
    months on end, no longer existed: society had been dramatically
    changed, there were roads leading up to the villages which were
    kept free of snow when necessary, villagers had become workers
    like everybody else and no longer had the leisure required;
    besides, the songs had lost in the competition with all the
    other forms of entertainment modern life brings. Folk traditions
    were supported in socialist Albania, and among other things
    regular folklore festivals were arranged in
    Gjirokastra. However, even here the epic songs lost the
    competition with shorter and more immediately entertaining
    genres as lyrical songs or dancing. As Mirash told, he had been
    invited to Gjirokastra, but as part of the audience, not as a
    performer.
  </p>

  <p>
    What I could study was how stable the songs were in one singer’s
    repertoire. Here my imperfect knowledge of the Albanian language
    was a benefit: it was easy for Mirash to accept that I would
    need a dictated text in order to understand what he
    sang. Gjovalin took on the scribe’s job. In this way Mirash gave
    me his songs in two versions, one sung and one dictated, and in
    that order: first he sang to the <i>lahuta</i> and next he
    dictated, not always immediately afterwards. Besides, on two
    occasions I said that a sung version had not come through very
    well in the registration, and he kindly performed it once
    more. Accordingly, the material contains two songs in three
    versions, twelve in two versions, one only sung, not dictated,
    and two told in prose. Besides, it also holds quite a few
    examples of other genres.
  </p>

  <p>
    The overall result confirms Parry and Lord’s experience. Mirash did not
    perform his songs by rote, but recomposed them during the dictation. The
    variations in content are small, however, but major variation was not to be
    expected, considering that the versions were performed soon after each
    other, and the audience was the same. In the present edition you can read
    the written text while listening to the sung performance.
  </p>

  <p>
    In handbooks Albanian epic songs are said to consist of
    eight-syllable-verses. However, Mirash handled his verses
    slightly differently when singing and when dictating, so that
    his sung verses may contain both ten and eleven syllables,
    whereas the dictated verses are more regular. Especially,
    listening to his dictating voice you realise that the rhythm is
    based not on the number of syllables, but on beat; actually, his
    metrics is quite fixed, each verse having four beats with a
    fixed caesura in the middle.
  </p>

  <p>
    Sometimes Mirash used the opportunity of the dictation to
    correct an error made in the first version. Thus in the song of
    Rozafat (no. III) it is essential to the story that the three
    brothers promise not to mention to their wives that she who the
    following day brings the lunch will be sacrificed, but only the
    youngest brother keeps his promise. In his sung performance
    Mirash forgot this important detail, but in his dictated version
    it is there. Also in another way Mirash is similar to the
    singers Parry and Lord attended in Jugoslavia: When singing he
    sometimes broke off because of problems with his voice, but
    never in order to change anything. When dictating he might
    correct himself, or he might ask Giovalin to repeat what he had
    just written, and sometimes the two of them might even have a
    small dialogue, rarely though.
  </p>

  <p>
    In one respect Mirash differed from Parry and Lord’s informants:
    his songs tended to be longer when dictated than when sung. The
    reason for this is probably that for some decades he had become
    more trained in dictating than in singing.
  </p>

  <p>
    At a certain point Mirash mentioned that he had himself composed
    two songs in praise of Enver Hoxha (nos. 3 and 4), and in this
    case he had clearly memorised the texts, which he recited
    quickly without hesitation and afterwards first sang and then
    dictated, the three versions being almost verbatim alike.
  </p>

  <p>
    The selection of songs to be performed was partly Mirash’s,
    partly mine. Often it was clear when we opened a session that he
    had decided beforehand what song or songs he would begin with.
  </p>

  <p>
    When I asked for a specific song, he was sometimes immediately
    ready to sing it. In other cases he did not answer, but sang
    something else. Once he said: This song I can perform only with
    words (<i>me fjalë</i>), meaning he could tell us the story in prose
    but not sing it to the <i>lahuta</i> (XIV: <i>Muji’s
      strength</i>). Accordingly, this “song” exists in our material as a
    lively told prose story. I found this reaction particularly
    interesting because some Homerists have believed that once a
    singer has learned the craft and is familiar with the formulaic
    language and the traditional patterns, he is able to compose new
    songs or transform stories to songs. This seemed not to be the
    case for Mirash. He had actually composed songs himself, but
    upon contemporary topics. My suspicion is that he would not have
    found it acceptable to make his own version of a known story,
    but would rather have considered such a song a forgery.
  </p>

  <p>
    Once I asked for the song of Muji and Halil visiting the sultan
    (IX), and Mirash began telling the story. As he told, gradually
    some of it took the form of verse lines. He promised to sing it
    for me the following day, but never did.
  </p>

  <p>
    One morning I asked for the tragic story of a young woman who
    dies in a distant place but is miraculously fetched home by her
    youngest brother. Again Mirash said that he knew the song, and
    that he would sing it in the afternoon. This time I reminded him
    of his promise when we met after lunch, and he right away
    performed no. XIII, <i>Garentina</i>. I was curious about how he had
    prepared himself, wondering whether he had rehearsed the song to
    himself or perhaps had somebody read it aloud to him from a
    book. Accordingly I asked how he could sing the song now which
    he had been unable to sing in the morning, and he answered that
    there had been three passages he had forgotten. I did not
    succeed in making him describe the process.
  </p>

  <p>
    What seems certain is that Mirash’s repertoire consisted of
    specific songs and was not a continuum of traditional stories of
    which he could actualise a suitable part as he pleased.
  </p>

  <p>
    When asking for a song I was careful not to mention a title, but
    instead to sketch its content, since I wished to find out
    whether songs had titles for him or not (also a topic in the
    Parry-Lord approach). At a certain point I asked him directly,
    but did not get a clear answer; the last afternoon I repeated
    the question, and between them Mirash and Gjovalin explained to
    me how when Mirash had been called out to entertain, somebody in
    the audience would call for a song of Jutbina, or of Muji and
    Halil. For what it is worth, I think it affirms Lord’s
    experience, that titles were added by folklorists, not used by
    the singing community itself. In the present publication I have
    given titles to the legendary songs so as to facilitate
    comparison with the songs as they are found in printed editions,
    whereas I know of no titles for the historical songs.
  </p>

  <p>
    I have no knowledge of whether Mirash was inspired by books, but
    when I asked him how he had learned a given song, he always
    mentioned persons, and the long gone epic universe of which he
    had been a part hardly included books.
  </p>

  <p>
    Often the heroic songs end with a disclaimer, “this is what I
    have been told, but I was not there myself”. However, one day
    Mirash had a small dialogue with Gjovalin about Jutbina, the
    place where Muji, Halil and the other heroes live, and said that
    he had met people who had visited their homes and could tell
    that they had been much taller than men are nowadays. It was
    clear that he was convinced that Muji and Halil were real
    persons who had once been alive. However, even though Jutbina
    was a real place that could be visited it also had mythic
    status.
  </p>

  <p>
    The <i>lahuta</i> is not the only instrument used for
    accompanying Albanian epic, but according to Mirash it was the
    noblest. He knew that there were singers using the <i>sharki</i>
    or the <i>cifteli</i> and that there were various traditions in
    various regions, but he was critical, especially of
    the <i>cifteli</i>, which he considered a modern
    invention. Already his story of the attraction the <i>lahuta</i>
    had exerted on him when he was a small child (the morning of
    February 11) reveals how he considered the instrument to be
    essential for his art, and in the further conversations we had
    about this he asserted that the <i>lahuta</i> was very old,
    perhaps the oldest instrument in the world.
  </p>

  <p>
    After a couple of days Mirash asked why I was interested in
    these songs, and I tried to explain that my object of study was
    actually a poet from antiquity. His next question was, of
    course, whether this old poet had also sung of Muji and Halil. I
    could not easily explain that my main interest was to analyse
    his own way of remembering his songs, and to find out how fixed
    or stable they were; I doubt whether that would have made sense
    to him. Anyway, it was important for me that he should not focus
    on this during his performances. He returned to the problem the
    last day, saying that he had not understood what I wanted, but
    that he had given me the best he had. Actually, I think both he
    and Gjovalin were bewildered by my project. It is revealed
    especially in the discussion of the titles of songs in which I
    suggest that there might be a difference between how the singing
    community and the folklorists treat them (the afternoon of
    February 16); here I was not understood. The Parry-Lord theory
    and its overall aim of investigating how oral composition works
    was after all rather different from the folklore approach with
    which they were both familiar.
  </p>

  <p>
    When one day Mirash asked to hear one of his performances he was
    deeply disappointed to hear the sound of his voice. “You should
    have come while I was younger”, he said. To have a clear voice
    and one that endures long sessions of performance is important
    to epic singers world-wide, and a great source of pride.
  </p>

  <p>
    Besides, he was proud of the amount of songs he knew and of
    their length. After finishing the dictation of a song he often
    asked Gjovalin to count how many verses there were and was
    satisfied if he had reached a high number. (To me a charming
    detail is that like Homer he had the same term for ‘word’ and
    ‘verse’, <i>fjalë</i> and <i>ἔπος</i> respectively.) Whether he gave me his
    full repertoire as it was at the time I cannot know. He asserted
    more than once that he could go on singing legendary songs for
    hours on end, but nevertheless sometimes seemed at a loss of
    what to perform, and on four occasions he preferred a historical
    song. Perhaps he actually liked them better? or since they are
    normally shorter than the legendary songs, perhaps the task of
    singing them was felt less overwhelming?
  </p>

  <p>
    First and foremost it was impressive how authoritative and
    self-confident he was, both when singing and when
    dictating. Among other things, performing is a physical strain,
    and not only was he not young, he was having a cold and did not
    feel well. Add to this that the time when he had been regularly
    called for to entertain an audience was long gone. Nevertheless
    he managed to perform for us, sometimes in very long sessions,
    and many of his songs came off very well; especially successful
    are nos, VI, X, XI, XV, XVI, and the second version of
    no. II. There is all reason to admire his achievement.
  </p>

  <p>
    I could not have foreseen how this project would develop, but
    now so long afterwards I find that the most important result of
    our efforts was that the registration documents a mature
    singer’s individual handling of the tradition, performed during
    one intense week. In the Parry-Lord optic each singer of tales
    has his own approach to his art, and there is always reason to
    analyse both the tradition and the individual manifestations of
    it. The present collection opens up for a synchronic study of
    Mirash Ndou’s legendary songs as part of his broader repertoire,
    and of his personal understanding of his own role as an expert
    and transmitter of Albanian epic songs. The registration also
    draws a picture of a kind and intelligent person.
  </p>

  <p>
    Besides, those of us who study oral epic from earlier ages often
    have the problem that very little is known of how these poems
    were written. We need knowledge of modern registration,
    particularly of dictation, as a help in reconstructing lost
    contexts. The present documentation of fieldwork, however
    modest, reveals the way the involved parties cooperated, the
    various interests we had, and the atmosphere in which it took
    place, and is thus a small contribution to the not very big fund
    of documented dictation processes.
  </p>

  <p>
    I am deeply grateful to both Mirash Ndou and Gjovalin Shkurtaj
    for the patience and generosity with which they conducted this
    work.
  </p>

  <h2>Technical note</h2>
  <p>
    The sound quality of the registration does not meet modern
    standards. What I had brought with me was a tape recorder and a
    pile of Philips tapes, 90 minutes. The mere fact that they have
    survived four decades is impressive! However, being an amateur
    when it comes to registration techniques, I made mistakes:
    sometimes a tape ran out before I noticed, or I forgot to change
    the batteries. Besides, we worked in a hotel room, not a sound
    studio, and often noise from outside is heard, such as
    children’s voices or the sound of traffic. However, Mirash’s
    voice comes through clearly enough, and after all the point of
    the project was to register the texts of his songs rather than
    the music.
  </p>

  <p>
    In the process of uploading the old tapes I have made only minor
    interventions. I have cut away empty passages, and where
    possible without harming the performance I have cancelled
    coughing and traffic noise; in one case I have deleted a
    telephone call that broke into our session. Besides, I have
    concatenated the tapes so that each session – morning or
    afternoon – has become a coherent whole; brief breaks indicate
    where a tape ends and a new one begins. In this way the
    electronic edition comes close to the rhythm of the original
    work.
  </p>

  <p>
    I have used Roman numerals for Mirash’s epic songs and Arabic
    ones for texts of other genres.
  </p>

  <p>
    The way the registration is published enables the user to attend
    the process from beginning to end, to select specific sessions,
    or to choose a given song sung to the lahuta, dictated, or
    written. You can listen to the dictation while reading the
    written text, or compare a sung performance with the written
    version.<sup id="fnref4"><a rel="footnote" href="#fn4">4</a></sup>
  </p>


  <!-- Footnotes -->
  <div id="footbar"></div>

  <ol>
    <li id="fn1">
      <p>
        The basic texts of this theory are Milman Parry, <i>The
          Making of Homeric Verse: The Collected Papers of Milman
          Parry</i> [1928-35], edited by Adam Parry, Oxford: Clarendon
        Press 1971, and Albert B. Lord, <i>The Singer of Tales</i>
        [1960], 2<sup>nd</sup> edition, edited by Stephen Mitchell &amp;
        Gregory Nagy, with audio and video CD, Cambridge, Mass.:
        Harvard University Press 2000.<a class="footnotebacklink" href="#fnref1" rev="footnote">↩</a>
      </p>
    </li>
    <li id="fn2">
      <p>
        For a description of the broader context see my “Meeting
        Mirash Ndou. A story from Albania February 1974” (Zymer
        Neziri (ed.): Acta from a conference i Prishtina September
        2014, forthcoming.). <a class="footnotebacklink" href="#fnref2" rev="footnote">↩</a>
      </p>
    </li>
    <li id="fn3">
      <p>
        In the following I mention the protagonists by their first
        names only, according to Albanian
        praxis. <a class="footnotebacklink" href="#fnref3" rev="footnote">↩</a>
      </p>
    </li>
    <li id="fn4">
      <p>
        I am grateful to Michael Stenskjær Christensen who has been
        in charge of the uploading, and to both him and Marianne
        Pade for reading this introduction and giving helpful
        comments. <a class="footnotebacklink" href="#fnref4" rev="footnote">↩</a>
      </p>
    </li>      
  </ol>    
</article>

{% endblock %}
