{{ '{% extends "base.html" %}' }}

{{ '{% block body %}' }}

<section>
  <table class="song-index">
    <tr>
      <th>Song</th>
      <th>Recording</th>
    </tr>

    {% for item in context %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
      <td width="50%">
        {% if item['page'] %}
        <a href="recordings/{{ item['session'] }}.html?page={{ item['page']}}">
        {% else %}
        <a href="recordings/{{ item['session'] }}.html#t={{ item['start']}}">
        {% endif %}
        {{ item['number'] }}
        </a>
      </td>
      <td>
        {{ item['type'] }}
      </td>
      {% endfor %}
  </table>
</section>
{{ '{% endblock %}' }}
