<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    <meta name='robots' content='noindex,follow' />

    <link href="/static/podlove-web-player/dist/css/pwp-silver.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="/static/podlove-web-player/dist/css/vendor/progress-polyfill.css" rel="stylesheet" media="screen" type="text/css" />
    
  </head>
  <body>
    <audio controls="controls">
      <source src="/static/recordings/{{ session }}.mp3" type="audio/mpeg" />
      <object type="application/x-shockwave-flash" data="/static/podlove-web-player/dist/bin/flashmediaelement.swf">
        <param name="movie" value="/static/podlove-web-player/dist/bin/flashmediaelement.swf"/>
        <param name="flashvars" value="controls=true&amp;file=/static/recordings/{{ session }}.mp3"/>
      </object>
    </audio>
    <script src="/static/podlove-web-player/dist/js/vendor/html5shiv.js"></script>
    <script src="/static/podlove-web-player/dist/js/vendor/jquery.min.js"></script>
    <script src="/static/podlove-web-player/dist/js/vendor/progress-polyfill.min.js"></script>
    <script src="/static/podlove-web-player/dist/js/podlove-web-player.js"></script>
    <script>
      $('audio').podlovewebplayer({
          title: '{{ title }}',
          subtitle: '',
          permalink: '/recordings/{{ session }}',
          publicationDate: '{{ pub_date}}',
          license: {
              "name": "Creative Commons Attribution-NonCommercial-ShareAlike 4.0",
              "url": "http://creativecommons.org/licenses/by-nc-sa/4.0/"
          },
          chapters:[
              {% for item in chapters %}
              {
                  {% for chapter in item if chapter[0] %}
                  {{ chapter[0] }}: "{{ chapter[1] }}",
                  {% endfor %}
              },
              {% endfor %}
          ],
          summary: '{{ description }}',
          downloads: [{
              name: 'MP3', size: {{ filesize }},
              url: '/static/recordings/{{ session }}.mp3',
              dlurl: '/static/recordings/{{ session }}.mp3'
          }],
          show: {
              title: 'Mirash Ndou',
              subtitle: 'Albanian singer of tales',
              url: '/recordings/{{ session }}.html'
          },
          duration: '{{ duration }}',
          alwaysShowHours: true,
          width: 'auto',
          license: {
              url: 'http://creativecommons.org/licenses/by-nc-nd/4.0/',
              name: 'Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License',
          },
          hidesharebutton: true,
          chaptersVisible: true,
          features: [],
          headline: 'Items',
          activeTab: 'chapters',
      });
    </script>
  </body>
</html>






